<div class='hero-container'>
    <h1 class='hero-heading'> Order </h1>
    <h1 class='hero-heading'> Eat </h1>
    <h1 class='hero-heading'> Repeat </h1>
</div>
<div class="links-container">
    <%= link_to "Register ", new_user_path, class: "btn btn-outline-dark mr-20" %>
    <%= link_to "Log In", new_sessions_path, class: "btn btn-outline-dark mr-20" %>
</div>