
<div class="alert-success">

<div class="links-container py-2">
<%= link_to "Register ", new_user_path, class: "btn btn-outline-dark mr-20" %>
<%= link_to "Log In", new_sessions_path, class: "btn btn-outline-dark mr-20" %>
</div>

<div class="text-center" >
    <img src="/chef.svg">
</div>


<div class='hero-container'>
    <span class='hero-heading'> Aaoo...! </span>
    <span class='hero-heading'> Khaaoo...! </span>
    <span class='hero-heading'> Khate Jao...! </span>
</div>

</div>

